{% extends "base.html" %}

{% block title %}Rust Server Console{% endblock %}

{% block content %}
    <div id="root"></div>
{% endblock %}

{% block scripts %}
    <script type="text/babel" src="{{ url_for('static', filename='js/components/StatusItem.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/ServerStatus.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/ConsoleOutput.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/ConnectionStatus.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/ConfigPage.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/ControlPage.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/PluginsPage.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/Layout.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/App.jsx') }}"></script>
    <script type="text/babel">
        const root = ReactDOM.createRoot(document.getElementById('root'));
        root.render(<App />);
    </script>
{% endblock %} 