[Unit]
Description=HopHop Rust Server
After=network.target

[Service]
Type=simple
User=%USER%
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%INSTALL_PATH%
ExecStart=%INSTALL_PATH%/venv/bin/hophop-rust-server
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 